body{
font-family:Arial;
margin:0;
background:#f0f3ff;
}

header{
background:#0b1f66;
color:white;
padding:12px;
text-align:center;
}

nav{
text-align:center;
background:#162a8a;
padding:6px;
}

nav button{
margin:4px;
padding:8px 14px;
background:white;
border:none;
cursor:pointer;
}

section{
width:80%;
margin:10px auto;
background:white;
padding:12px;
border-radius:8px;
}

/* LOGIN */

.login-box{
width:40%;
margin:30px auto;
text-align:center;
}

.login-box input{
width:90%;
margin:6px;
padding:8px;
}

/* CHAT */

.chat-container{
border:1px solid #aaa;
padding:8px;
}

#chat-box{
height:360px;
overflow-y:auto;
border:1px solid #ccc;
padding:6px;
}

.input-area{
display:flex;
margin-top:6px;
}

input{
flex:1;
padding:8px;
}

button{
padding:8px;
background:#0d1b6b;
color:white;
border:none;
}

.note{
font-size:12px;
color:gray;
}
